[Unit]
Description=digipeater
#After=ardop
#Before=network.target


[Service]
ExecStart=/home/pi/direwolf.sh
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi


[Install]
WantedBy=multi-user.target
